html,
body {
    margin:0;
    padding: 0;
    height: 100%;
}

form {
    border: 1px solid #ccc;
    margin-left: 8rem;
    padding: 7rem;

}

input,
textarea {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    
}

form button {
    display: block;
    padding: 0.5rem 1rem;
    background: hsl(120, 56%, 40%);
    border: none;
    color: #fff;
    border-radius: 5px;
    width: 5rem;
    margin-left: auto;
}

header {

    background-color: teal;
    color: black;
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
}

footer{
    background-color: teal;
    color: white;
    text-align: center;
    padding: 1em;
    bottom: 0;
    width: 100%;
    position: fixed;
    

}


img{
    width: 180px;
    height: 131px;
    margin-left: auto;
    float: left;
    padding: 10px;
    margin-top: -10px;
}

a{
    color: teal;
    text-decoration: none;
    font-size: larger;
    padding: 20px;
    
}

ul{
    list-style-type: none;
    float: left;
    text-align: right;
    padding-left: 0rem;
    margin-left: -1rem;
    margin-bottom: 300px;
    margin-right: 1rem;
    line-height: 1.5;
}

@media screen and (max-width: 600px) {

    ul {
        display: flex;
        margin-bottom: 1rem;
        margin-right: 250px;
        padding-left: 1rem;
    
    }
    img{
        margin-right: 0.5rem;
    }
    /* a{
        border: 5px gray ;
        
    
    } */
    ul li:not(:last-child){
        border-right: 1px solid gray;
    }
    
}